p {
  color: var(--dark-grey);
  margin-right: 1rem;
}

.flex span {
  color: var(--secondary-color);
  font-weight: bold;
}

.flex {
  display: flex;
  gap: 0 1rem;
  align-items: center;
  flex-wrap: wrap;
}
