*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin dark-theme {
  --primary-color: #202020;
  --secondary-color: #e6d1fc;
  --tertiary-color: #a052dd;
  --color: #fff;
}

@mixin light-theme {
  --primary-color: #f5f5f5;
  --secondary-color: #a052dd;
  --tertiary-color: #e6d1fc;
  --color: #000;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  .light {
    @include light-theme;

    background-color: #fff;
    color: black;
  }

  .dark {
    @include dark-theme;

    background-color: #050505;
    color: white;
  }

  --grey: rgba(211, 211, 211, 0.5);
  --dark-grey: rgba(180, 180, 180, 1);

  @media (min-width: 1025px) {
    font-size: 1.5rem;
  }
}
